@keyframes flip-image-emphasis {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  50% {
    transform: perspective(1000px) rotateY(45deg) scale(1.05);
  }

  100% {
    transform: perspective(1000px) rotateY(0deg);
  }
}

.flip-image-emphasis:hover {
  animation: flip-image-emphasis 0.7s ease;
}